/* 1. Estilo base de la tabla (Fondo e iluminación general) */
.table-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #dcdcdc;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

/* 2. El encabezado de la tabla (Para combinar con tu barra superior "Búsqueda de Pacientes") */
.table-view .column-header, .table-view .column-header-background {
    -fx-background-color: #154c79; /* El azul marino institucional de tu barra */
    -fx-background-insets: 0;
}

.table-view .column-header .label {
    -fx-text-fill: #ffffff; /* Texto blanco en las cabeceras */
    -fx-font-weight: bold;
}

/* 3. Las filas de la tabla (Alternar colores sutiles para mejorar lectura) */
.table-row-cell {
    -fx-background-color: #ffffff;
    -fx-text-fill: #333333;
}

.table-row-cell:odd {
    -fx-background-color: #f9fbfd; /* Un azul/blanco grisáceo casi imperceptible */
}

/* Cuando el médico selecciona una fila */
.table-row-cell:filled:selected {
    -fx-background-color: #bfd7ea; /* Azul claro de selección */
    -fx-table-cell-text-fill: #154c79;
}