.panel{
    -fx-background-color: white;
    -fx-border-color: #D6D6D6;
    -fx-border-radius: 10;
    -fx-background-radius: 5;
}

.panel-title{
    -fx-background-color: #002855;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8;
}

.tab-pane {
    -fx-background-color: #F4F6F9;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 10;
}

.tab-pane .tab-header-background {
    -fx-background-color: #E9ECEF;
}

.tab {
    -fx-background-color: #D6DDE5;
    -fx-background-radius: 8 8 0 0;
    -fx-padding: 5 15 5 15;
}

.tab .tab-label {
    -fx-text-fill: #2E2E2E;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-text-fill: white;
}

.tab:selected {
    -fx-background-color: #0D47A1;
}

.tab:hover {
    -fx-background-color: #1565C0;
}

.tab:hover .tab-label {
    -fx-text-fill: white;
}

.tab-content-area {
    -fx-background-color: white;
    -fx-border-color: #D6D6D6;
    -fx-border-width: 1;
}

.text-field{
    -fx-background-color: white;
    -fx-border-color: #C0C0C0;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

.combo-box{
    -fx-background-color: white;
    
}

.btn-continuar{
    -fx-background-color: #0D47A1;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.btn-continuar:hover{
    -fx-background-color: #1565C0;
}

.urgencia-baja {
    -fx-background-color: #28A745;
    -fx-border-color: #28A745;

}

.urgencia-media {
    -fx-background-color: #FF9800;
    -fx-border-color: #FF9800;
}

.urgencia-alta {
    -fx-background-color: #DC3545;
     -fx-border-color: #DC3545;
}

.titlePane{
    -fx-background-color: transparent;
}

.titlePane .text{
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.titlePane .label{
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.urgencia-media > .title{
    -fx-background-color: #f4ac41;
    
}

.urgencia-alta > .title {
    -fx-background-color: #DC3545;
}

.urgencia-baja > .title {
    -fx-background-color: #28A745;
}

.text-field:focused{
    -fx-border-color: #0D47A1;
}


.card{
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: #dce6f2;
    -fx-border-width: 1;
    
    
    
    -fx-effect: dropshadow(
        gaussian,
        rgba(0,0,0,0.15),
        10,
        0,
        0,
        3
    );
}

.img{
    -fx-cursor: hand;
}

.h1{
    -fx-text-fill: black;
     -fx-font-weight: bold;
     -fx-font-size:20;
}

.h2{
     -fx-text-fill: black;
     -fx-font-weight: bold;
     -fx-font-size:12;
}